$bp-largest: 75em; //1200px
$bg-large: 68.75em; //1100px
$bg-medium: 56.25em; //900px

.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;
  box-shadow: 5px 5px 10px rgba(0,0,0,.06);

  @media only screen and (max-width: 1200px){
    margin:0;
  }

}



.header{
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid var(--line);
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 500px){
    flex-wrap: wrap;
    align-content: space-around;
    height: 11rem;
    background-color: var(--color-grey-light-2);
 }
}

.content{
 display: flex;

 @media only screen and (max-width: 900px){
  flex-direction: column;
 }
}

.sidebar{
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view{
  background-color: white;
  flex: 1;
}

.detail{
  font-size: 2.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);

  @media only screen and (max-width: 900px){
    padding: 3rem;
 }
 @media only screen and (max-width: 600px){
    flex-direction: column;
 }
}
.description{
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  // font-size: 1.4rem;
  @media only screen and (max-width: 900px){
    padding: 2rem;
    margin-right: 3rem;
 }
 @media only screen and (max-width: 600px){
    margin-right: 0;
    margin-bottom: 3rem;
 }
}

.user-reviews{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





